@import '../../style/variable.scss';

.sucesspop{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 45px;
    gap: 20px;
    .okay-btn{
        color:$white;
        background:$clickEvent-color;
        border: 1px solid $clickEvent-color;
        font-size: 14px;
         height: 32px;
         padding: 4px 15px;
         border-radius: 6px;
         cursor: pointer;

    }
    h3{
        text-align: center;
    }
}
.anticon-info-circle{
display: none;
}