@import '../../style/variable.scss';

.reject-pop-up {
    backdrop-filter: blur(3px);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    .reject-popBox-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        height: 250px;
        gap: 30px;
        background-color:$white;
        border-radius: 16px;
        color: $black;
    }
    .reject-popUp-close-btn {
        width: 120px;
        height: 40px;
        border: none;
        background-color: $clickEvent-color;
    }
}