@import '../../style/variable.scss';
.rbc-agenda-table{
    tr{
        background-color: transparent !important;
        color: $black !important;
        border: 1px solid $darkgray !important;
    }
}