@import '../../style/mixins.scss';

.Popup-layout{
@include Popupbackground;

.popup-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:$white;
    max-width: 500px;
    min-width: 400px;
    align-items: center;
    height:10rem;
    padding: 10px;
    border-radius: 10px;
    
    footer{
        display: flex;
        justify-content: space-around;
        width: 100%;

    }
    span{
        width: 300px;
        text-align: center;
    }
}

}