@import '../../style/variable.scss';
.loading{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:$lightblack;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    z-index: 10;

section{
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 8px solid $lightgrey;
    border-bottom: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
}
}


@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}