@import "../../style/variable.scss";
.request-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 55px;
  table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    
    tr {
      background-color: $white;
      border-radius: 10px;
      td {
        width:230px;
        padding: 25px 5px;
        text-align: center;
        word-break: break-all;
        .eye-btn{
          cursor: pointer;
        }
      }
      .option {
        display: flex;
        gap: 10px;
        justify-content: center;
      }
    }
  }
}
